[Unit]
Description=PIA vpn
Requires=network-online.target
After=network-online.target

[Service]
Type=forking
# See README.md, Config section, for more details on env vars.
#
# Vars in the below section are needed for a vpn-only system:
# ( uncomment to use )
# --------------
#Environment="PIA_SERVERLIST_HOST_IP=xxx.xxx.xxx.xxx"
#Environment="PIA_ADD_VPN_ENDPOINT_TO_UFW=true"
#Environment="PIA_ON_DEMAND_UFW_RULES=true"
# --------------
Environment="PIA_AUTH_FILE=$AUTH_FILE"
Environment="PIA_DNS=true"
Environment="PIA_AUTOCONNECT=openvpn_udp_standard"
Environment="PIA_PF=false"
Environment="PIA_REGION=$REGION"
WorkingDirectory=$INSTALL_LOCATION
ExecStart=$INSTALL_LOCATION/systemd_launcher.sh
PIDFile=/opt/piavpn-manual/pia_pid
TimeoutStartSec=330
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
